src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19a0b43f-3bcd-4d8b-8822-17462faf3b95" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="00ad7c6c-3c68-4539-bf56-a7cc8f614a31" >
		<http:listener doc:name="Listener" doc:id="bf248a70-78a1-4f25-8874-949270a6432d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["CI CD Demo"]' doc:name="Set Payload" doc:id="d5dfe76b-ef55-434d-8e66-2f3f1388b284" />
	</flow>
</mule>
